location ~ \.php$ {
    try_files $uri =404;
    fastcgi_pass unix:/var/run/php/php{{ version_php }}-fpm.sock;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
    include fastcgi_params;
}
