<VirtualHost *:80>
    ServerName www.{{ item }}
    ServerAlias {{ item }} www.{{ item }}

	DocumentRoot /home/{{ linux_user }}/www/{{ website_path }}/{{ item }}/{{ public_path }}

    <Directory /home/{{ linux_user }}/www/{{ website_path }}/{{ item }}/{{ public_path }}>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    <FilesMatch "^\.">
        Order allow,deny
        Deny from all
    </FilesMatch>

    # [Security for Laravel] Objective: Disallow PHP execution in the uploads directory
    <Directory /home/{{ linux_user }}/www/{{ website_path }}/{{ item }}/{{ public_path }}/storage>
        <FilesMatch "(?i)\.(php|php3?|phtml)$">
            Order allow,deny
            Deny from all
        </FilesMatch>
    </Directory>

    <FilesMatch \.php$>
      SetHandler "proxy:unix:/run/php/php{{ version_php }}-fpm.sock|fcgi://localhost"
    </FilesMatch>
</VirtualHost>